rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && (
        request.auth.token.email == 'anthonyluci69@gmail.com' ||
        request.auth.token.mapleleedAdmin == true
      );
    }

    match /marketing/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /{allPaths=**} {
      allow read, write: if isAdmin();
    }
  }
}
